$RECYCLE.BIN/
*.bak
*.cab
*.class
*.ctxt
*.ear
*.jar
*.launch
*.lnk
*.log
*.msi
*.msm
*.msp
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.loadpath
.metadata
.mtj.tmp/
.mvn/
mvnw.cmd
mvnw
.project
.recommenders
.recommenders/
.scala_dependencies
.scannerwork/
.settings/
.sonar/
.sonarlint/
.springBeans
.target
.tern-project
.texlipse
.worksheet
/.sonar/
bin/
dependency-reduced-pom.xml
Desktop.ini
ehthumbs.db
ehthumbs_vista.db
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
target/
Thumbs.db
tmp/
.idea/
*.iws
/out/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/sonarlint
.idea_modules/
atlassian-ide-plugin.xml
*.iml
*.ipr
src/main/resources/config/application.yml